* {
    margin: 0; /* On enlève les marges par défaut */
    box-sizing: border-box; /* Pour pas que les éléments interne sà une boite n'en dépassent */
    max-width: 100%; /* On empeche des éléments de dépasser la largeur de la page */  
  }

/* GLOBAL */

body { /* On défini le fond de la page et la position du texte */
background-color:#FDF5F4;
text-align: center;
font-family: 'League Spartan', sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: 400;
  color: #096A89;
}
  
h2 {
  text-transform: uppercase;
}

.h2_noir {
  font-size: 2.5em;
  font-weight: 400;
  color: #000000;
}

.h2_bleu {
  font-size: 2em;
  font-weight: 400;
  color: #096A89;
}

.h3_bleu {
  font-size: 2em;
  font-weight: 400;
  color: #096A89;
}

.h3_noir {
  font-size: 2em;
  font-weight: 400;
  color: #000000;
}

p, .lato, #mail a {
  font-family: 'Lato', sans-serif;
  font-size: 1.5625em;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.lato_bold{
  font-family: 'Lato', sans-serif;
  font-size: 1.563em;
  font-weight: 700;
  color: #000000;
}

.container_header a, #Accueil a { /* On retire les soulignements des liens du header et des cta de l'accueil et on les mets en noir */
  color: #000000;
  text-decoration: none;
}

.titre_section{ /* Créé un fond autour des titres de section */
  border-radius: 0px 55px 0px 0px;
  border-left:#000000 10px solid;
  padding: 1%;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 7%;
}

@media screen and (max-width: 1280px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1280px */
  .titre_section{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;; 
  }
}

@media screen and (max-width: 1000px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1000px */
  .titre_section{ /* le texte déborde du fond couleur sinon */
    width: auto;
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
  }
  .h2_noir{
  font-size: 2em; /* On réduit la taille des titres pour qu'ils rentrent mieux sur portable */
  }
}

.section_rouge{ /* Fond rouge */
  background: #EF7270;
}

.section_bleu{ /* Fond bleu */
  background: #3AAAAF;
}


/* HEADER */
header { 
  background: #FAC379; 
  top: 0; /* Position du header, il commence tout en haut */
  position: fixed; /* Il ne bougera pas pendant le scroll */
  width: 100%; /* Il prend la largeur de la page */
  z-index: 1; /* Pour éviter que les cta se superposent */
}

ul{ /* Enlève pastille liste */
  list-style: none;
  padding-inline-start: 0px;
}

.vue_ordinateur { /* Barre menu */
  display:flex; /* Flexbox */
  flex-wrap: nowrap; /* Empêche les titres de section d'aller à la ligne */
  justify-content: space-around; /* Réparti uniformément sur l'horizontale avec espaces aux extrémités */
  align-items: center; 
  /* On défini la police, la taille etc */
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.vue_ordinateur a:hover, #menu_mobile a:hover{ /* On souligne les titres du menu au survol */
  text-decoration: underline;
  text-decoration-thickness: 6px; /* Le trait de soulignage est plus épais */
  text-decoration-color: #096A89; /* Et bleu */

}

#logo_mobile{ /* Logo mobile caché sauf si version mobile */
  display: none;
  margin: 0 auto;
}

/* Responsive header */
#menu_droite_mobile{
  display:none; /* On le cache par défaut, pour l'activer que en petit écran */
  flex-direction: column;
  align-items:center; 
  /* On défini la police, la taille etc */
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

#ouvre_menu{ /* l'icone hamburger et le texte menu */
  padding-bottom: 10px;
  font-weight: 600;
  cursor: pointer;
}

#ouvre_menu:after{ /* Pour placer l'icone trois traits à côté de MENU */
  content: '\2630'; /* Code de l'icone hamburger */
  padding-left: 50px; /* Faire de l'espace entre le texte et l'icone */
}

#menu_mobile li{ /* Pour espacer les titres du menu */
padding-top: 20px;
padding-bottom: 10px;
}

#menu_mobile{ /* Permet de l'afficher ou cacher avec le script js */
  display: none;
  flex-direction:column;
  align-items:center;
}

@media screen and (max-width: 1280px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1280px */
  .vue_ordinateur{
    display: none; /* On enlève le menu version ordinateur */
  }
  #menu_droite_mobile{
    display: flex; /* On affiche le menu version mobile */
  }
  #logo_mobile{
    display: block; /* On replace le logo */
  }
}


/* ACCUEIL */
.sections_principales{
  padding-top: 120px; /* Pour que le header ne cache pas les sections après avoir cliqué sur les liens du menu */
  padding-bottom: 100px;
}

.cta {
  transition: all 0.5s ease; /* Transition douce */
  background: #3AAAAF;
  padding: 3%; /* Pour que le texte ne soit pas collé à la bordure */
  margin: 2%; /* Pour qu'il y ait de l'espace entre les boutons même en affichage réduit */
}

.cta_gris {
  transition: all 0.5s ease; /* Transition douce */
  background: #D9D9D9;
  padding: 2%;
  margin: 2%; /* Pour qu'il y ait de l'espace entre les boutons même en affichage réduit */
}

.cta:hover, .cta_gris:hover {
  background: #EF7270; /* Change la couleur des boutons au survol */
}

#Accueil_intro{
  display: flex;
  flex-wrap: nowrap; /* passe en wrap selon taille écran plus loin */
  justify-content:space-around;
  flex-direction: row;
  max-width: 100%;
  align-items: flex-start;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

#synopsis{ /* Paragraphe présentation accueil */
  margin-top: 2em;
  width: 100%;
  line-height: 1.875em; /* Espacement entre les lignes */
  padding: 45px;
  border: 4px solid #FAC379;
}

#Accueil_intro h2{
  margin-top: 8%;
}

#nom_photo h1{
  margin-bottom: 0.5em;
  width: 7em;
}

#cta_accueil{
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 5%;
  min-width: 752px; /* Pour éviter qu'ils ne wrappent trop tôt et débordent sur "en apprendre plus sur". Passe en auto quand largeur écran inférieure à 1280px plus bas*/
}

#cta_apprendre{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.apprendre{ /* Section "En apprendre plus..." */
  background: #FAC379;
  padding: 15px;
}

/* Accueil responsive */
@media screen and (max-width: 1280px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1280px */
  #Accueil_intro{
    flex-wrap: wrap; /* On enlève le menu version ordinateur */
    margin-top: 70px;
  }
  #cta_accueil{
    min-width: auto;
  }
}

@media screen and (max-width: 940px){ /* Pour tous les écrans, dès que la largeur est inférieure à 940px */
  .apprendre{
    margin-top: 4em;
  }
}


/* CONTACT */

.flex-contact{
  display: flex;
  flex-wrap: nowrap; /* On autorise le wrap après selon taille écran */
  justify-content: center;
  align-items: center;
  margin: 0 10% 2% 10%; /* Marges à gauche et droite de 10%, et en bas de 2%*/
  gap: 35px;
}

.taille_icone img{
  width: 15%;
  height: 15%;
}

.taille_icone h3:nth-child(2) { /* Ajoute  de l'espace au dessus et en dessus de "mail", "adresse" et "téléphone" pour aérer*/
  padding: 3% 0px;
}

@media screen and (max-width: 1030px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1030px */
  .flex-contact{
    flex-wrap: wrap;
  }
  .taille_icone:nth-child(2){
    margin: 3% 0px; /* Ajoute de l'espace au dessus et en dessous de la partie mail */
  }
}

#langues_competences{
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
  margin: 0% 2% 0% 2%;
  padding-bottom: 2%;
  line-height: 70px;
}

#liste_competences li{
  list-style-type: disc;
}

#langues_texte{
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 45%;
}

#langues_texte > h3{
  margin-bottom: 20px;
}

#liste_competences{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 75%;
}

.test3 li div{
  display: flex;
  align-items: center;
}

.test3 img{
  margin-left: 2%;
}

#liste_competences_mobile{
  display: none;

}

/* Competences responsive */
@media screen and (max-width: 1280px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1280px */
  #liste_competences{
    display: none;
  }

  #liste_competences_mobile{
    display: flex;
    margin-bottom: 10%;
  }

  #langues_competences{
    flex-wrap: wrap-reverse;
    line-height: auto;
  }
}



/* EXPERIENCES */

.box h3{
  margin-bottom: 6%;
}

#Frise{
  font-size: 1.7em;
  font-weight: 400;
  color: #ffffff;
  background: #096A89;
  border-radius: 55px;
  padding: 1.5%;
  margin: auto auto 20px auto; /* Pour aligner au centre avec fit-content */
  width: fit-content;
}

#a2017{
  display: flex;
  flex-wrap: nowrap;
  box-sizing:content-box;
  margin: 0% 13% 0% 13%;
  line-height: 50px;
}

.une, .trois, .cinq, .sept, .neuf{
  display: block;
  width: 100%;
}

.deux, .quatre, .six, .huit, .dix{
  display: block;
  margin-left: 1%;
  width: 100%;
}

#a2018{
  display: flex;
  flex-wrap: nowrap;
  box-sizing:content-box;
  margin: 0% 13% 0% 13%;
  line-height: 50px;
}

#a2019{
  display: flex;
  flex-wrap: nowrap;
  box-sizing:content-box;
  margin: 0% 13% 0% 13%;
  line-height: 50px;
}

#a2021{
  display: flex;
  flex-wrap: nowrap;
  box-sizing:content-box;
  margin: 0% 13% 0% 13%;
  line-height: 50px;
}

#a2022{
  display: flex;
  flex-wrap: nowrap;
  box-sizing:content-box;
  margin: 0% 13% 0% 13%;
  line-height: 50px;
}

/* Experiences responsive */
@media screen and (max-width: 1280px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1280px */
  .box h3{
    margin-bottom: 3%;
  }

  #a2018, #a2021 {
    flex-wrap: wrap;
    margin: 0% 2% 0% 2%;
  }
  #a2017, #a2019, #a2022{
    flex-wrap: wrap-reverse;
    margin: 0% 2% 0% 2%;
  }
  .deux, .quatre, .six, .huit, .dix{
    margin-left: auto;
  }

  .box p{
    margin-bottom: 4%;
  }
}

/* Timeline */

/* Timeline Container */
.timeline {
  margin: auto;
}

/* Card container */
.card {
  position: relative;
  max-width: 100%;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #EF7270;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
/* .card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
} */

/* Removing the border if it is the last card and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Timeline repsonsive */
/* Setting the top and bottom to "-5px" because it was out of a pixel in mobile devices */
@media only screen and (max-width: 1280px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* FORMATION */
#Projet_pro p{
  display: flex;
  justify-content: center;
  margin: auto auto 3% auto;
  border: 4px solid #EF7270;
  padding: 2%;
  width: 45%;
  line-height: 1.875em;
}

#sous_section{
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
}

#Master p, #Cesure p, #Licence p{
  display: flex;
  align-items: center;
  border: 4px solid #FAC379;
  border-radius: 55px;
  padding: 2%;
  height: 80%;
  font-size: 1.5625em;
  line-height: 1.875em;
  margin: 2%;
} 

.h3_bleu, p{
  margin-bottom: 2%;
}

/* Formation responsive */
@media screen and (max-width: 1289px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1280px */
  #Projet_pro p{
    width: 75%;
    margin-bottom: 5%;
  }

  #sous_section{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  #Master p, #Cesure p, #Licence p{
    width: 75%;
    display: flex;
    align-items: center;
    margin: auto;
  }

  #Cesure{
    margin-top: 3%;
    margin-bottom: 3%;
  }
}


/* LOISIRS */

/* Bénévolat */
#Benevolat_loisirs p{
  display: inline-block;
  border: 4px solid #EF7270;
  padding: 40px;
  width: 45%;
  line-height: 1.875em;
  margin-bottom: 2%;
}

/* Grid photos loisirs */
.grid-loisirs{
  display:grid;
  grid-template-columns: 1fr 1.5fr 2fr 1.5fr 1fr;
  gap: 15px;
  margin: 0 10%;
}

.grid_loisirs_mobile{
  display:none;
  gap: 15px;
  margin: auto;
}


.grid-loisirs img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-contact{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 10%;
  gap: 15px;
}

.photo-hover{
  display: flex;
  left: 0;
  position:absolute;
  text-align:center;
  top: 30px;
  width: 100%;
  font-size: 1.5em;
  color: red;
  background-color: rgba(0, 0, 0, 0.7);
}

.lien-conteneur-photo img{
  position: relative;
}

/* Benevolat responsive */
@media screen and (max-width: 1289px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1280px */
  #Benevolat_loisirs p{
    width: 75%;
  }
  .grid-loisirs {
    display: none;
  }

  .grid_loisirs_mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grid_loisirs_mobile div {
    display: block;
  }
  
  #un, #cinq{
    width: 10%;
  }

  #deux, #quatre{
    width: 15%;
  }

  #trois{
    width: 20%;
  }

  .grid_loisirs_mobile div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
}