* {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color:#FDF5F4;
    text-align: center;
  }

.header {
  background: #FAC379;
  color: #000000;
  top: 0;
  position: fixed;
  width: 100%;
}

.container {
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.sections_principales:not(:first-child){
  padding-top: 70px; 
}

a:not(#non_souligne, #mail a) {
  color: #000000;
  text-decoration: none;
}

.element:hover{
  font-weight: bold;
}

h1 {
font-family: 'League Spartan', sans-serif;
font-size: 4em;
font-weight: 400;
color: #096A89;
}

h2 {
    text-transform: uppercase;
}

.h2_noir {
font-family: 'League Spartan', sans-serif;
font-size: 2.5em;
font-weight: 400;
color: #000000;
margin-bottom: 75px;
}

.h2_bleu {
font-family: 'League Spartan', sans-serif;
font-size: 2em;
font-weight: 400;
color: #096A89;
}

.h3_bleu {
font-family: 'League Spartan', sans-serif;
font-size: 2em;
font-weight: 400;
color: #096A89;
}

.h3_noir {
font-family: 'League Spartan', sans-serif;
font-size: 2em;
font-weight: 400;
color: #000000;
}

p, .lato, #mail a {
font-family: 'Lato', sans-serif;
font-size: 1.5625em;
font-style: normal;
font-weight: 400;
color: #000000;
}

#Frise{
font-family: 'League Spartan', sans-serif;
font-size: 2em;
font-weight: 600;
color: #ffffff;
}

.lato_bold{
font-family: 'Lato', sans-serif;
font-size: 1.563em;
font-weight: 700;
color: #000000;
}

nav{
text-transform: uppercase;
font-family: 'Lato', sans-serif;
font-size: 1.5em;
font-weight: 400;
color: #000000;
}

.cta {
  background: #3AAAAF;
  transition: all 0.5s ease;
  padding: 20px;
}
.cta:hover {
  background: #EF7270;
}

.cta_gris {
  transition: all 0.5s ease;
  background: #D9D9D9;
  padding: 20px;
}
.cta_gris:hover {
  background: #EF7270;
}

#Formation{
  margin:5em;
}

.apprendre{
  background: #FAC379;
  padding: 15px;
  margin-bottom: 2em;
}

/* Hamburger menu */
/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
/* @media all and (orientation: portrait) {
  p {
      color: red; 
      background-color: black;
      font-size: 1.2em;
  }
} */

/* border center 30% */

.sections_principales{
  margin-bottom: 200px;
}

/* LOISIRS */

/* Bénévolat */
#Benevolat_loisirs p{
  display: inline-block;
  border: 4px solid #EF7270;
  padding: 40px;
  width: 45%;
  line-height: 35px;
  margin-bottom: 2%;
}

/* Grid photos loisirs */
.grid-loisirs{
  display:grid;
  grid-template-columns: 1fr 1.5fr 2fr 1.5fr 1fr;
  grid-template-rows: 1.5fr;
  gap: 15px;
  margin: 0 10%;
}

.grid-loisirs img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-contact{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 10%;
  gap: 15px;
}

.taille_icone img{
  width: 15%;
  height: 15%;
}

.taille_icone div{
padding-bottom: 15px;
}

.photo-hover{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.25em;
color:#FDF5F4;
background-color: rgba(0, 0, 0, 0.7);
display: none;
}

.lien-conteneur-photo img:hover{
  display: flex;
}

/* FORMATION */
#Projet_pro p{
  display: inline-block;
  border: 4px solid #EF7270;
  padding: 40px;
  width: 45%;
  line-height: 35px;
  margin-bottom: 1%;
}

#Master p, #Cesure p, #Licence p{
  display: inline-block;
  border: 4px solid #FAC379;
  border-radius: 55px;
  height: 80%;
  font-size: 1.4em;
  line-height: 1.875em;
  margin: 3%;
}


#sous_section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2% 4% 0% 2%;
}

.h3_bleu, p{
  margin-bottom: 2%;
}

/* Accueil */
#Accueil_intro{
  display: flex;
  border: 2px solid black;
  justify-content:space-around;
  flex-direction: row;
  max-width: 100%;
  align-items: flex-start;
  margin: 10%
}

#synopsis{
  margin-top: 4em;
  width: 100%;
  line-height: 1.875em;
  padding: 45px;
  border: 4px solid #FAC379;
}

#Accueil_intro h2{
  border: 2px solid black;
  margin-top: 3em;
}

#nom_photo h1{
  border: 2px solid rgb(255, 0, 0);
  margin-bottom: 0.5em;
  width: 7em;
}

#nom_photo img{
  border: 2px solid rgb(2, 4, 146);
}

#cta_accueil{
  border: 2px solid black;
  margin-top: 3.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 6.25em;
}



/* EXPERIENCES */
#a2017{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  max-width: 100%;
  align-items: flex-start;
  margin: 10%;
  border: 2px solid;
}

#a2018{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  max-width: 100%;
  align-items: flex-start;
  margin: 10%
}

#a2019{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  max-width: 100%;
  align-items: flex-start;
  margin: 10%
}

#a2021{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  max-width: 100%;
  align-items: flex-start;
  margin: 10%
}

#a2022{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  max-width: 100%;
  align-items: flex-start;
  margin: 10%
}

.deux {
}

.box{
  border: 2px solid red;
  
}

.css, .html, .js, .vs, .canva, .prezi, .audacity, .psc1{
  height: 3.5%;
  width: 3.5%;
}

.office{
  width: 3%;
  height: 3%;
}

.figma{
  width: 2.5%;
  height: 2.5%;
}

.rstudio{
  width: 10%;
  height: 7%;
}

#langues_competences{
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  width: auto;
  margin: 10%
}
