* {
    margin: 0;
  }

  body {
    background-color:#FDF5F4;
  }

 /* Style the header */
 .header {
    padding: 15px 16px;
    background: #FAC379;
    color: #000000;
    top: 0;
  }
  
  .container {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  } 

#Formation:target {
  padding-top: 102px; 
}

a {
  color: #000000;
  text-decoration: none;
}

h1 {
font-family: 'League Spartan', sans-serif;
font-size: 4em;
font-weight: 400;
color: #096A89;
}

h2 {
    text-transform: uppercase;
}

.h2_noir {
font-family: 'League Spartan', sans-serif;
font-size: 2.5em;
font-weight: 400;
color: #000000;
}

.h2_bleu {
    font-family: 'League Spartan', sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: #096A89;
    }

.h3_bleu {
    font-family: 'League Spartan', sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: #096A89;
  }

.h3_noir {
font-family: 'League Spartan', sans-serif;
font-size: 2em;
font-weight: 400;
color: #000000;
}

p, .lato {
font-family: 'Lato', sans-serif;
font-size: 1.5em;
font-weight: 400;
color: #000000;
}

#Frise{
font-family: 'League Spartan', sans-serif;
font-size: 2em;
font-weight: 600;
color: #ffffff;
}

.lato_bold{
font-family: 'Lato', sans-serif;
font-size: 2em;
font-weight: 700;
color: #000000;
}

nav{
text-transform: uppercase;
font-family: 'Lato', sans-serif;
font-size: 1.5em;
font-weight: 400;
color: #000000;
}

.cta {
  background: #3AAAAF;
  transition: all 0.5s ease;
  padding: 10px;
}
.cta:hover {
  background: #EF7270;
}

.cta_gris {
  transition: all 0.5s ease;
  background: #D9D9D9;
  padding: 10px;
}
.cta_gris:hover {
  background: #EF7270;
}


/* Hamburger menu */
/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
/* @media all and (orientation: portrait) {
  p {
      color: red; 
      background-color: black;
      font-size: 1.2em;
  }
} */

/* border center 30% */


/* Grid photos loisirs */
.grid-loisirs{
  display:grid;
  grid-template-columns: 1fr 1.5fr 2fr 1.5fr 1fr;
  grid-template-rows: 1.5fr;
  gap: 15px;
  margin: 0 10%;
}

.lien-conteneur-photo img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

