
/* LOISIRS */

/* Bénévolat */
#Benevolat_loisirs p{
    display: inline-block;
    border: 4px solid #EF7270;
    padding: 40px;
    width: 45%;
    line-height: 1.875em;
    margin-bottom: 2%;
  }
  
  /* Grid photos loisirs */
  .grid-loisirs{
    display:grid;
    grid-template-columns: 1fr 1.5fr 2fr 1.5fr 1fr;
    gap: 15px;
    margin: 0 10%;
  }
  
  .grid_loisirs_mobile{
    display:none;
    gap: 15px;
    margin: auto;
  }
  
  
  .grid-loisirs img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .grid-contact{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10%;
    gap: 15px;
  }
  
  .photo-hover{
    display: flex;
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%;
    font-size: 1.5em;
    color: red;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .lien-conteneur-photo img{
    position: relative;
  }
  
  /* Benevolat responsive */
  @media screen and (max-width: 1289px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1280px */
    #Benevolat_loisirs p{
      width: 75%;
    }
    .grid-loisirs {
      display: none;
    }
  
    .grid_loisirs_mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .grid_loisirs_mobile div {
      display: block;
    }
    
    #un, #cinq{
      width: 10%;
    }
  
    #deux, #quatre{
      width: 15%;
    }
  
    #trois{
      width: 20%;
    }
  
    .grid_loisirs_mobile div img {
      object-fit: cover;
      width: 100%;
      height: 100%;
  }
  }