/* EXPERIENCES */
#frise{
  font-size: 1.7em;
  color: #ffffff;
  background: #096A89;
  border-radius: 55px;
  padding: 0.5% 1.5%;
  margin: auto auto 20px auto; /* Pour aligner au centre avec fit-content */
  width: fit-content;
}

.boite h3{ /* espace sous le titre */
  margin-bottom: 6%;
}

.boite{
  width: 100%;
}

/* Centre les images sur les deux axes */
.deux, .trois, .six, .sept, .dix{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Pour laisser un espace entre le texte et l'image quand la largeur d'écran diminue */
.une, .trois, .cinq, .sept, .neuf{
  margin-right: 1%;
}

.deux, .quatre, .six, .huit, .dix{
  margin-left: 1%;
}

.carte{
  display: flex;
  margin: 0% 13% 0% 13%;
  line-height: 50px;
}

/* Experiences responsive */
@media screen and (max-width: 1280px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1280px */
#frise{
  padding: 1.5% 2%;
}

.boite{
  margin: auto;
}

.boite h3{
  margin-bottom: 3%;
}

.boite p{
  margin-bottom: 4%;
}

#annee2018, #annee2021 {
  flex-wrap: wrap;
  margin: 0% 2% 0% 2%;
}

#annee2017, #annee2019, #annee2022{
  flex-wrap: wrap-reverse;
  margin: 0% 2% 0% 2%;
}
}

/* Timeline */

/* conteneur de cartes */
.carte{
  position: relative;
}

/* le padding dépend de si la carte est paire ou impair*/
.carte:nth-child(odd) {
  padding: 30px 0 30px 60px;
}
.carte:nth-child(even) {
  padding: 30px 60px 30px 0;
}

/* pour ajouter la ligne */
.carte::before {
  content: ""; /* crée un élément invisible sans rien */
  position: absolute;
  width: 50%; /* fait la moitié d'une carte */
  border: solid #EF7270;
}

/* Ajoute une bordure en haut, bas et gauche */
.carte:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Ajoute une bordure en haut, bas et droite */
.carte:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* pour enlever la bordure à la dernière carte si elle est impair (ce qui est le cas) */
.carte:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Timeline repsonsive */

@media only screen and (max-width: 1280px) {
  .carte:nth-child(odd)::before {
    top: -5px; /* "-5px" pour bien aligner sur mobile */
    bottom: -5px;
  }

  .carte:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }

  .carte:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
}