/* FORMATION */
#projet_pro p{
  display: flex;
  margin: auto auto 3% auto;
  border: 4px solid #EF7270;
  padding: 2%;
  width: 45%;
  line-height: 1.875em;
}
  
#sous_section_etudes{
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
}

#sous_section_etudes p{
  display: flex;
  align-items: center;
  border: 4px solid #FAC379;
  border-radius: 55px;
  padding: 2%;
  height: 80%; /* Pour que cesure soit à la même taille que master et licence */
  line-height: 1.875em;
  margin: 2%;
} 

#formation h3, #formation p{
  margin-bottom: 2%;
}

/* Formation responsive */
@media screen and (max-width: 1289px){ /* Pour tous les écrans, dès que la largeur est inférieure à 1280px */
  #projet_pro p{
    width: 90%; /* largeur du cadre */
    margin-bottom: 10%;
  }

  #sous_section_etudes{
    flex-wrap: wrap;
    align-items: center;
  }

  #sous_section_etudes p{
    width: 90%; /* largeur du cadre */
    margin: auto;
    margin-bottom: 5%;
  }

  #cesure{
    margin-top: 3%;
    margin-bottom: 3%;
  }
}